In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

from collections import Counter
import math
from math import log

import pprint

- ID3(based on information gain)
- C4.5(based on information gain ratio)
- CART(gini index)

#### entropy: $H(x) = -\sum_{i=1}^{n}p_i\log{p_i}$
#### conditional entropy: 
$H(X|Y)=\sum{P(X|Y)}\log{P(X|Y)}$
       =$\sum{p(y)H(X|Y=y)}$

In [27]:
def create_data():
    dataSet = [[1, 1, 'yes'],
           [1, 1, 'yes'],
           [1, 0, 'no'],
           [0, 1, 'no'],
           [0, 1, 'no']]
    labels = ['no surfacing', 'flippers']
    return dataSet, labels

In [28]:
datasets, labels = create_data()

In [4]:
train_data = pd.DataFrame(datasets, columns=labels)

In [5]:
train_data

    年龄 有工作 有自己的房子 信贷情况 类别
0   青年   否      否   一般  否
1   青年   否      否    好  否
2   青年   是      否    好  是
3   青年   是      是   一般  是
4   青年   否      否   一般  否
5   中年   否      否   一般  否
6   中年   否      否    好  否
7   中年   是      是    好  是
8   中年   否      是  非常好  是
9   中年   否      是  非常好  是
10  老年   否      是  非常好  是
11  老年   否      是    好  是
12  老年   是      否    好  是
13  老年   是      否  非常好  是
14  老年   否      否   一般  否

In [10]:
def calc_shannon_ent(dataset):
    num_entries = len(dataset)
    label_count = {}
    for feat in dataset:
        current_label = feat[-1]
        if current_label not in label_count:
            label_count[current_label] = 0
        label_count[current_label] +=1
    shannon_ent = 0
    for num in label_count.values():
        prob_i = num/num_entries
        shannon_ent -= prob_i * log(prob_i, 2)
    return shannon_ent

In [11]:
calc_shannon_ent(datasets)

0.9709505944546686

In [25]:
def split_dataset(dataset, axis, value):
    ret_dataset = []
    for feat in dataset:
        if feat[axis] == value:
            reduced_feat = feat[:axis]
            reduced_feat.extend(feat[axis+1:])
            ret_dataset.append(reduced_feat)
    return ret_dataset

def choose_best_feat_to_split(dataset):
    num_feat = len(dataset[0])-1
    base_ent = calc_shannon_ent(dataset)
    best_info_gain = 0
    best_feat = -1
    for i in range(num_feat):
        feat_list = [example[-1] for example in dataset]
        unique_values = set(feat_list)
        new_ent = 0
        for value in unique_values:
            subdataset = split_dataset(dataset, i, value)
            prob_i = len(subdataset)/len(dataset)
            new_ent += prob_i * calc_shannon_ent(subdataset)
        info_gain = base_ent - new_ent
        
        if(info_gain > best_info_gain):
            best_info_gain = info_gain
            best_feat = i
    return best_feat

In [13]:
def majority_cnt(class_list):
    class_count = {}
    for vote in class_list:
        if vote not in class_count.keys():
            class_count[vote] = 0
        class_count[vote] += 1
    sorted_class_count = sorted(class_count.items(), key=lambda item:item[1])
    return sorted_class_count[0][0]

In [23]:
def create_tree(dataset, labels):
    class_list = [example[-1] for example in dataset]
    if class_list.count(class_list[0])==len(class_list):
        return class_list[0]
    if len(dataset[0])==1:
        return majority_cnt(class_list)
    best_feat = choose_best_feat_to_split(dataset)
    best_feat_label = labels[best_feat]
    my_tree = {best_feat_label:{}}
    del (labels[best_feat])
    feat_values = [example[best_feat] for example in dataset]
    unique_value = set(feat_values)
    for value in unique_value:
        sublabels = labels[:]
        my_tree[best_feat_label][value] = create_tree(split_dataset(dataset, best_feat, value), sublabels)
    return my_tree

In [29]:
mytree = create_tree(datasets, labels)
mytree

{'no surfacing': {0: 'no', 1: {'flippers': {0: 'no', 1: 'yes'}}}}

# Another method

In [9]:
def create_data2():
    datasets = [['youth', 'No', 'No', 'average', 'No'],
               ['youth', 'No', 'No', 'good', 'No'],
               ['youth', 'yes', 'No', 'good', 'yes'],
               ['youth', 'yes', 'yes', 'average', 'yes'],
               ['youth', 'No', 'No', 'average', 'No'],
               ['middle_aged', 'No', 'No', 'average', 'No'],
               ['middle_aged', 'No', 'No', 'good', 'No'],
               ['middle_aged', 'yes', 'yes', 'good', 'yes'],
               ['middle_aged', 'No', 'yes', 'perfect', 'yes'],
               ['middle_aged', 'No', 'yes', 'perfect', 'yes'],
               ['elder', 'No', 'yes', 'perfect', 'yes'],
               ['elder', 'No', 'yes', 'good', 'yes'],
               ['elder', 'yes', 'No', 'good', 'yes'],
               ['elder', 'yes', 'No', 'perfect', 'yes'],
               ['elder', 'No', 'No', 'average', 'No'],
               ]
    labels = ["age", 'work', 'house', 'credit', 'category']
    # return dataset and features name
    return datasets, labels

datasets2, labels2 = create_data2()

In [10]:
train_data2 = pd.DataFrame(datasets2, columns=labels2)
train_data2

            age work house   credit category
0         youth   No    No  average       No
1         youth   No    No     good       No
2         youth  yes    No     good      yes
3         youth  yes   yes  average      yes
4         youth   No    No  average       No
5   middle_aged   No    No  average       No
6   middle_aged   No    No     good       No
7   middle_aged  yes   yes     good      yes
8   middle_aged   No   yes  perfect      yes
9   middle_aged   No   yes  perfect      yes
10        elder   No   yes  perfect      yes
11        elder   No   yes     good      yes
12        elder  yes    No     good      yes
13        elder  yes    No  perfect      yes
14        elder   No    No  average       No

In [11]:
label_count = train_data2.groupby(["category"])

In [38]:
train_data2.shape[1]

5

In [20]:
for i in label_count["category"].count():
    print(i)

6
9

In [21]:
# basic entropy
def calc_shannon_ent(dataset):
    data_length = dataset.shape[0]
#     label_count = {}
#     for i in range(data_length):
#         label = dataset[i][-1]
#         if label not in label_count:
#             label_count[label] = 0
#         label_count[label] += 1
    label_count = train_data2.groupby(["category"])["category"].count()
    ent = -sum([(p/data_length)*log(p/data_length, 2) for p in label_count])
    return ent

calc_shannon_ent(train_data2)

0.9709505944546686

In [37]:
#conditional entropy
def cond_ent(dataset, axis=0):
    features_name = dataset.columns[axis]
    data_length = dataset.shape[0]
    features_count = {}
    for i in range(data_length):
        feature = dataset[features_name][i]
        if feature not in features_count:
            features_count[feature] = []
        features_count[feature].append(dataset.iloc[i])
    ent = -sum([len(p)/data_length*calc_shannon_ent(p) for p in features_count.values()])
    return ent
cond_ent(train_data2, 0)

1.8420357187994625

In [42]:
# information gain
def info_gain(ent, cond_ent):
    return ent - cond_ent

# info-gain train
def info_gain_train(dataset):
    num_feature = dataset.shape[1]
    ent = calc_shannon_ent(dataset)
    best_feature = []
    for f in range(num_feature):
        f_info_gain = info_gain(ent, cond_ent(dataset, axis=f))
        best_feature.append(f_info_gain)
        print("featurs({}) - info_gain - {:.3f}".format(labels2[f], f_info_gain))
    best_feature = np.array(best_feature)
    best_value = np.max(best_feature)
    best_idx = np.argmax(best_feature)
    
    return best_value, best_idx

info_gain_train(train_data2)

featurs(age) - info_gain - -0.871
featurs(work) - info_gain - 0.743
featurs(house) - info_gain - 0.854
featurs(credit) - info_gain - -0.930
featurs(category) - info_gain - 0.854

(0.8539580943104372, 2)

In [ ]:
# define a binary tree
class Node:
    def __init__(self, root=True, label=None, feature_name=None, feature=None):
        self.root = root
        self.label = label
        self.feature_name = feature_name
        self.feature = feature
        self.tree = {}
        self.result = {"label":self.label, "feature":self.feature, "tree":self.tree}
        
    def __repr__(self):
        return "{}".format(self.result)
    
    def add_node(self, val, node):
        self.tree[val] = node
        
    def predict(seld, features):
        if self.root is True:
            return self.label
        return self.tree[features[self.feature]].predict(features)

def DTree:
    def __init__(self, epsilon=0.1):
        self.epsilon = epsilon
        self._tree = {}
        
    #entropy
    @staticmetho
    def calc_shannon_ent(dataset):
        data_length = dataset.shape[0]
        #     label_count = {}
        #     for i in range(data_length):
        #         label = dataset[i][-1]
        #         if label not in label_count:
        #             label_count[label] = 0
        #         label_count[label] += 1
        label_count = train_data2.groupby(["category"])["category"].count()
        ent = -sum([(p/data_length)*log(p/data_length, 2) for p in label_count])
        return ent

    #conditional entropy
    def cond_ent(self, dataset, axis=0):
        features_name = dataset.columns[axis]
        data_length = dataset.shape[0]
        features_count = {}
        for i in range(data_length):
            feature = dataset[features_name][i]
            if feature not in features_count:
                features_count[feature] = []
            features_count[feature].append(dataset.iloc[i])
        ent = -sum([len(p)/data_length*calc_shannon_ent(p) for p in features_count.values()])
        return ent
    
    # information gain
    @staticmethod
    def info_gain(ent, cond_ent):
        return ent - cond_ent
        
    def info_gain_train(self, dataset):
        num_feature = dataset.shape[1]
        ent = calc_shannon_ent(dataset)
        best_feature = []
        for f in range(num_feature):
            f_info_gain = info_gain(ent, cond_ent(dataset, axis=f))
            best_feature.append(f_info_gain)
            print("featurs({}) - info_gain - {:.3f}".format(labels2[f], f_info_gain))
        best_feature = np.array(best_feature)
        best_value = np.max(best_feature)
        best_idx = np.argmax(best_feature)

        return best_value